.container {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.icon {
	color: #319CFF;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}